
p{
    font-size: 24px; 
}

#p-first{
    font-size: 32px;
    font-weight: bold;
}

.p-color{
    color:darkslateblue;
}

img{
    width: 350px;
}

/* Display */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}